@tailwind base;
@tailwind components;
@tailwind utilities;

.alert{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    .red-alert{
        border-color: red;
        background-color: red;
    }
    .green-alert{
        border-color: green;
        background-color: green;
    }
}



body {
    background-color: rgb(219, 190, 180);
}

.hero{
    background-color: blue;
    // h1{
    //     font-weight: bold;
    // }
    .textIntro{
        font-size: 3rem;
    }
    .boutonConnexion{
        border: yellow 2px solid;
    }
}

.alert{
    .close{
        color: red;
        cursor: pointer;
        border: 1px black solid;
    }
}

#performances{    
    h1{
        font-size: 3rem;
    }
    a{
        border: black 1px solid;
        border-radius: 10px;
        padding: .5rem;
        margin: 1rem;
        width: 10rem;
        text-align: center;
    }
    .performance{
        border: rgb(199, 198, 198) 1px solid;
        border-radius: 10px;
        padding: .5rem;
        margin: 1rem;
        span{
            font-weight: bold;
        }
        .title{
            font-size: 2rem;
            font-weight: bold;
        }
        // .location{}
        // .date{}
        // .meetLocation{}
        // .meetHour{}
        // .information{}
        // .playTime{}
        // .nbPerf{}
    }
}

#new{
    #prestation{
        margin: 2rem;
    }
    .btn{
        border: 1px black solid;
        border-radius: 10px;
        margin: 1rem;
        padding: .5rem;
    }
}